*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 800px;
    height: 400px;
    margin: 100px auto;
    position: relative;
}

.slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.img-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img.d-block{
    display: block;
}

.buttons{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}